.entermobile_title{
    position: absolute;
    width: 261px;
    height: 31px;
    left: 200px;
    top: 201px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1A1A1A;
    letter-spacing: 0.1rem;
}
.entermobile_input_box{
    display: flex;
    align-items: center;
    position: absolute;
    height: 40px;
    left: 13.89%;
    right: 65.28%;
    top: 248px;
    background: #F4F4F5;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(183, 183, 184, 0.5), inset -1px 1px 2px rgba(183, 183, 184, 0.2), inset 1px -1px 2px rgba(183, 183, 184, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(183, 183, 184, 0.9);
    border-radius: 10px;
    padding-left: 10px;
}
.PhoneInputInput{
    flex: 1;
    height: 32px;
    background: transparent ;
    outline-width: 0;
    border: transparent;
    background-color:rgba(0,0,0,0);
    color: gray;
    box-shadow: none;
}
.entermobile_checkbox{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 200px;
    top: 304px;

    background: #F4F4F5;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(183, 183, 184, 0.5), inset -1px 1px 2px rgba(183, 183, 184, 0.2), inset 1px -1px 2px rgba(183, 183, 184, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(183, 183, 184, 0.9);
    border-radius: 4px;
}
.entermobile_terms{
    position: absolute;
    width: 397px;
    height: 36px;
    left: 232px;
    top: 304px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
}
.footer_background{
    position: absolute;
    bottom: 0;
    width: 100%;
}
 
.footer_image{
    position: absolute;
    width: 292px;
    height: 370px;
    left: 524px;
    top: 400px;
    
    /* background: url(.png); */
}
@media only screen and (max-width:500px) {
    .entermobile_title{
        position: absolute;
        width: 264px;
        height: 36px;
        left: 30px;
        top: 116px;
    }
    .entermobile_input_box{
        position: absolute;
        height: 40px;
        left: 7.25%;
        right: 20.29%;
        top: 164px;

    }
    .entermobile_checkbox{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 30px;
        top: 216px;
    }
    .entermobile_terms{
        position: absolute;
        width: 279px;
        height: 54px;
        left: 56px;
        top: 216px;
    }
    .footer_image{
        position: absolute;
        width: 211px;
        height: 252px;
        left: 61px !important;
        top: 583px  !important;
    }
   

    
}