
.role_title{
    position: absolute;
    width: 296px;
    height: 20px;
    left: 200px;
    top: 211.25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1A1A1A;
}
.role_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    position: absolute;
    width: 300px;
    height: 40px;
    left: 200px;
    top: 259px;
    background: #F4F4F5;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(183, 183, 184, 0.5), inset -1px 1px 2px rgba(183, 183, 184, 0.2), inset 1px -1px 2px rgba(183, 183, 184, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(183, 183, 184, 0.9);
    border-radius: 10px;
}
.role_input > input{
    width: 100%;
    border: none;
    outline: 0;
    box-shadow: none;
}

.role_logo{
    width: 12.02px;
    height: 6px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 500px;
    top: 282px;
}
.role_trending{
    position: absolute;
    width: 122px;
    height: 20px;
    left: 200px;
    top: 315px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 20px;
}
.trending_roles{
    display: flex;
    position: absolute;
    width: 122px;
    height: 10px;
    left: 200px;
    top: 360px;
}
.role_exp{
    position: absolute;
    width: 435px;
    height: 31px;
    left: 200px;
    top: 380px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1A1A1A;
    margin-top: 40px;
}
.roles_exp{
    display: flex;
    position: absolute;
    width: 122px;
    height: 20px;
    left: 200px;
    top: 455px;
}
.footer_background{
    position: absolute;
    bottom: 0;
    width: 100%;
}
 
.footer_image{
    position: absolute;
    width: 300px;
    height: 301px;
    left: 599px;
    top: 450px;
}
@media only screen and (max-width:500px) {
    .role_title{
        position: absolute;
        width: 224px;
        height: 23px;
        left: 33px;
        top: 164.25px;
    }
    .role_input{
        position: absolute;
        width: 300px;
        height: 40px;
        left: 33px;
        top: 199.25px;
        margin-top: 20px;
    }
    .role_trending{
        position: absolute;
        width: 122px;
        height: 20px;
        left: 33px;
        top: 261.25px;
        margin-top: 20px;
    }
    .trending_roles{
        display: flex;
        position: absolute;
        width: 50px;
        height: 10px;
        left: 20px;
        top: 360px;
    }
    .roles_exp{
        display: flex;
        position: absolute;
        width: 50px;
        height: 10px;
        left: 20px;
        top: 500px;
    }
    .role_exp{
        position: absolute;
        width: 330px;
        height: 23px;
        left: 30px;
        top: 404px;
    }
    .footer_image{
        position: absolute;
        width: 464.08px;
        height: 233.89px;
        left: 50px !important;
        top: 680px !important;

    }
}